<% provide(:title, "Home") %>
  <div class="row">
  <br/>
  <br/>
    <div class="col-md-8" style="margin-top: 50px;">
      <%= render 'shared/secondary_navbar' %>
      <%= render 'shared/recent_posts' %>
    </div>

    <%= render 'shared/side_bar' %>
  </div>