    <div>
        <a class="external-link col-sm-3 btn btn-info" href="https://www.learnenough.com/ruby-on-rails-6th-edition#landing-pricing?gclid=CjwKCAjwqpP2BRBTEiwAfpiD-wvHVj4DHhIXzxnCVTvLn6H4f0xTQVTRH5XiLjmPUrThC6mIrasRvhoCkRcQAvD_BwE">Rails</a>
        <a class="external-link col-sm-3 btn btn-info col-sm-offset-1" href="https://www.rmit.edu.vn/">RMIT</a>
    </div>
    <div class="row customized-container-search" style="padding-top: 50px">
    </div>