
<div class="tab topnav" style="padding-left: 0px;">
    <%= link_to "Recent posts", root_path, class: "tablinks"%>
    <%= link_to "Selected posts", "", :onclick => "$(filter_form).submit()"%>
    <%= link_to "New Post", new_micropost_path, class: "tablinks newpost", style: "float: right;" %>
    <div class="search-container">
      <form>
        <input type="text" placeholder="Search..">
        <button type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </form>
    </div>
</div> 
