
<div class="tab topnav" style="padding-left: 0px;">
    <%= link_to "Recent posts", root_path, class: "tablinks"%>
    <%= link_to "Selected posts", "", :onclick => "$(filter_form).submit()"%>
    <input class="secondary-navsearch-bar" type="text" placeholder="Search..">
    <%= link_to "New Post", new_micropost_path, class: "tablinks newpost", style: "float: right;" %>
</div> 
