<% provide(:title, "Create post") %>
<div class="row">
  <div class="col-md-12">
      <br />
      <h4 class="micropost-title"> Post </h4>
      <br />
      <%= render 'micropost_form' %>
  </div>
</div>